.cart {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background-color: #ff8800;
    color: #ffffff;
    border-radius: 15px;
    text-decoration: none;
}

.cartCount {
    margin-right: 4px;
}

.cartIcon {
    fill: #ffffff;
}