@import 'style-mixins';

.cartListContainer {
    text-align: left;
}

.cartListTitle {
    margin: 0 0 8px;
    padding: 0 8px;
    @include font-large;
}

.cartListItem {
    padding: 16px 8px;
    border-top: 1px solid #eeeeee;
    
}