@import 'style-mixins';

.cartListItem {
    display: flex;
    align-items: center;
    text-align: left;
}

.itemInfoContainer {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;

    &--compact {
        display: block;
    }
}

.cartListTitle {
    margin: 0 0 8px;
    @include font-large;
}

.itemTitle {
    margin: 0 0 8px;
    @include font-base;
}

.itemDescription {
    margin: 0;
}

.itemPriceWrapper {
    display: flex;
    align-items: center;
}

.priceLabel {
    padding-right: 8px;
}

.warningContainer {
    padding-top: 8px;
}

.warningText {
    @include font-base;
}

.warningOkButton {
    margin-right: 4px;
}