@import 'style-mixins';

.cartListItem {
    display: flex;
    align-items: center;
    text-align: left;
}

.itemInfoContainer {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;

    &--compact {
        display: block;
    }
}

.cartListTitle {
    margin: 0 0 8px;
    @include font-large;
}

.itemTitle {
    
    @include font-base;
}

.itemDescription {
    margin: 8px 0 0;

    @media screen and (max-width: 500px) {
        display: none;
    }
}

.itemPriceWrapper {
    display: flex;
    align-items: center;
}

.priceLabel {
    padding-right: 8px;
}

.warningContainer {
    padding-top: 8px;
}

.warningText {
    @include font-base;
}

.warningOkButton {
    margin-right: 4px;
}

.itemImage {
    flex: 0 0 42px;
}

.itemPriceContainer {
    
}

.numberInputControl {
    display: flex;
}

.itemTextContainer {
    @media screen and (max-width: 500px) {
        flex: 1 0 auto;
    }
}